---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    {% assign current_year = site.time | date: "%Y" %}

    <ul class="post-list">
      {%- for post in site.posts limit: 3 -%}
        {% assign postYear = post.date | date: "%Y" %}
        {%- if postYear == current_year -%}
          <li>
            {%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            {{ post.content }}
          </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  {%- endif -%}

  {% for post in site.posts %}
    {% assign currentdate = post.date | date: "%Y" %}
    {% if currentdate != date %}
      {% unless forloop.first %}</ul>{% endunless %}
      <h1 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h1>
      <ul>
      {% assign date = currentdate %}
    {% endif %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}
</div>
